<% layout('client/layouts/main') -%>
<div class="fs-5 w-75 mx-auto mb-5">
  <h1 class="display-5 mt-3 mb-5 fw-medium text-center"><%= post.h1 %></h1>
  <img class="mb-3 img-fluid rounded-3 mx-auto d-block" src="https://picsum.photos/1200/500" alt="" loading="lazy">
  <div class="mb-4 fw-light">
    Publish date: <time datetime="<%= post.createdAt.toLocaleDateString() || 'No date' %>"><%= post.createdAt.toLocaleDateString() || 'No date' %></time>
  </div>
  <%- post.content %>
</div>
<% if (typeof latestPosts !== 'undefined' && latestPosts.length) { %>
  <div class="row text-center">
    <% latestPosts.forEach(({ id, h1, img }) => { %>
      <div class="col-lg-4">
        <a class="d-block mb-5 rounded-3" href="/blog/<%= id %>">
          <img class="mb-3 img-fluid rounded-3" src="<%= img %>" alt="" loading="lazy">
          <p><%= h1 %></p>
        </a>
      </div>
    <% }) %>
  </div>
<% } %>